body {
  font-family: sans-serif;
}

input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-left: 0.2%;
  margin-top: -20px;

  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: 100%;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active {
  background-color: lightslategray;
  color: white;
  cursor: pointer;
  font-weight: 700;
}
.suggestions li:hover {
  background-color: lightgray;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid gray;
}
