body {
  font-family: sans-serif;
}

input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid lightgrey;
  border-top-width: 0;
  list-style: none;
  margin-top: -9px;

  overflow-y: auto;
  padding-left: 0;
  width: 100%;
}

.suggestions li {
  padding: 0.8rem;
}

.suggestion-active {
  background-color: lightgrey;
  color: white;
  cursor: pointer;
  font-weight: 700;
}
.suggestions li:hover {
  background-color: salmon;
  color: white;
  cursor: pointer;
  font-weight: 700;
}
