.mb-0 {
  text-align: left;
  margin-top: -10px;
}

.card-body > li {
  list-style-type: square;
}

.calories {
  font-style: italic;
}

.right {
  float: right;
}

.img-thumbnail {
  width: 20%;
  margin-top: 9px;
  height: 30%;
}

.btn-secondary {
  color: white;
  background-color: gray;
  border-color: #545b62;
}

.custom-dot-list-style {
  margin-top: 5%;
}

.meal-name {
  font-size: 1.5rem;
  color: darkgrey;
}
#foodName,
#foodName:hover,
#foodName:focus {
  border-bottom: none;
  box-shadow: none;
  width: 100%;
}

.input {
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 20px;
}

form[class^='makeStyles-root-'],
form[class*='makeStyles-root-'] {
  width: 100%;
}

.search {
  margin-bottom: 5%;
  margin-top: 5%;
}

.MuiCardActions-root {
  display: block;
}

.btn-link {
  color: #0056b3;
  opacity: 0.8;
  text-decoration: underline;
}

.get-recipies {
  background-color: #007bff;
}

@media (min-width: 464px) {
  .MuiCard-root {
    margin-right: 35px;
  }
}

@media only screen and (max-width: 454px) {
  .form-container h1 {
    font-size: 2.2rem;
  }
}

@media only screen and (min-width: 454px) {
  .form-container h1 {
    font-size: 3.2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .form-container h1 {
    font-size: 4rem;
  }
}
